.form{
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    gap: 0.6rem;
    padding: 4rem 8rem;
    border-radius: 0.75rem;
    box-shadow: 0px 0px 10px 1px rgb(253, 94, 83,0.2);
    
}
.form-intro{
    font-size: 2rem;
}
.input-layout-username{
    display: grid;
    grid-template-columns: 1fr 1fr;
    
}
.input-label{
    font-size: 1.6rem;
}
input::placeholder {
    font-size: 0.8rem; /* placeholder 글자 크기 */
}
.username-label{
    grid-column-start: 1;
    grid-column-end: 3;
}
.invalid-value{
    border-radius: 0.4rem;
    border-style: solid;
    border-color: var(--warn);
    border-width: 0.2rem;
    color: var(--warn);
    text-decoration: underline;
}
.input-layout-one{
    display: grid;
    grid-template-columns: 1fr;
}
.input-design{
    padding: 0.2rem 0.6rem 0.2rem 0.1rem;
    font-size: 1.6rem;
}
.input-design:focus{
    outline: none;
}
.input-layout-name{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}
.orange-hover:hover{
    color: var(--sunset-orange);
    font-weight: bold;
}
.join-link:hover{
    color: var(--sunset-orange);
    font-weight: bold;
}
.error-box-layout{
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    gap: 0.25rem;
}
.btn{
    width: 100%;
}
.form-btn{
   padding: 0.2rem 0.6rem;
}

.join-btn{
    background-color: var(--sunset-orange);
    border-radius: 0.25rem;
    font-size: 1.2rem;
    padding: 0.2rem 0.6rem;
    transition-property: background-color,box-shadow;
    transition-duration: 0.25s;
}

.flip:hover{
    color: var(--sunset-orange);
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 10px 0px var(--sunset-orange);
}
.flip:focus{
    color: var(--sunset-orange);
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 10px 0px var(--sunset-orange);
    outline: none;    
}



