:root{
    --sunset-orange : #FD5E53;
    --warn : #ec003d;
    --successed : #008a1f;
    --black : #000000;
    
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 1rem;
}
body{
    color: var(--black);
}
li {
    list-style: none;
}
a {
    display: inline-block;
    text-decoration: none;
}
input {
    
}
button {
    border: none;
    background: none;
    cursor: pointer;
    font: inherit;
}
.warn{
    color : var(--warn);
}
.successed{
    color : var(--successed);
}
.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-container{
    padding: 0px 8rem;
}
.header-wrapper{
    display: grid;
    grid-template-columns: 1fr 2.5fr 1fr;
    justify-items: center;
    align-items: center;
}

.header-item{
    padding: 0.8rem 1.6rem;
    font-size: 1.2rem;
    border-radius: 0.4rem;
}
.header-item:hover {
    color: var(--sunset-orange);
    
}
.main-container{
    padding: 0px 8rem;
}
.main-wrapper{
    padding: 2rem 4rem;
}

